<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Ray's Masonry - {{ page.title }}</title>
 <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" media="screen, projection" />
</head>

<body id="{{ page.section }}">
  <div class="wrapper">
    <div class="header">
      <h1 class="title"><a href="/">Ray's Masonry</a></h1>
   </div>

    <div class="content">
      {{ content }}
    </div>

    <div class="footer">
      <p class="address">
        Ph. (209) 522-8729<br />
        Fax (209) 888-8888<br />
     </p>
   </div>
  </div>
</body>
</html>
