---
layout: default
section: post
---

<header>
  <h1 class="title"><a href="/{{ page.category }}"> {{ page.category | capitalize }}</h1>
  <h2 class="subtitle"><a href="{{ page.url }}">{{ page.title }}</a></h2>
</header>

<section class="content">
  <img src="{{ page.image }}" width="600px" />
  {{ page.content }}
</section>

<nav>
  <ol>
    {% if page.previous %}
      <li><a href="{{ page.previous.url }}" rel="prev">Previous</a></li>
    {% endif %}
    {% if page.next %}
      <li><a href="{{ page.next.url }}" rel="next">Next</a></li>
    {% endif %}
  </ol>
</nav>
